.process-page{
    width: 50%;
}
.procces-img{
    width: 50%;
}
.a-shrift{
    text-decoration: none;
    color: black;
}
.h3-process{
    text-align: center;
    color: blue;
    margin: 5rem;
}